

<!-- footer starts -->

<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<h4>TITLE</h4>
				Footer Item 1</br>
				Footer Item 2</br>
				Footer Item 1</br>
				Footer Item 2</br>
				Footer Item 1</br>
				Footer Item 2</br>
			</div>
			<div class="col-md-2">
				<h4>TITLE</h4>
				Footer Item 1</br>
				Footer Item 2</br>
				Footer Item 1</br>
				Footer Item 2</br>
				Footer Item 1</br>
				Footer Item 2</br>
			</div>
			<div class="col-md-2">
				<h4>TITLE</h4>
				Footer Item 1</br>
				Footer Item 2</br>
				Footer Item 1</br>
				Footer Item 2</br>
				Footer Item 1</br>
				Footer Item 2</br>
			</div> 
			
			<div class="col-md-2">
				<h4>TITLE</h4>
				Footer Item 1</br>
				Footer Item 2</br>
				Footer Item 1</br>
				Footer Item 2</br>
				Footer Item 1</br>
				Footer Item 2</br>
			</div> 
			<div class="col-md-2">
				<h4>TITLE</h4>
				Footer Item 1</br>
				Footer Item 2</br>
				Footer Item 1</br>
				Footer Item 2</br>
				Footer Item 1</br>
				Footer Item 2</br>
			</div> 
		</div>
	</div>

</div>

<!-- footer ends -->

<!-- copyright starts -->

<div id="copyright">
<div class="container">
<p> &copy FilterLADY 2015-16 </p>
</div>
</div>

<!-- copyright ends -->
