
<!-- Homepage Starts -->

<div class="row homepage">
	<div class="container">
		<div class="col-md-9 banner-main">
		</div>
		<div class="col-md-3">
			<div class="seller-links">

			</div>
			<div class="seller-links">
				
			</div>
			<div class="seller-links">
				
			</div>
		</div>
		</div>
	</div><!-- banner row ends here -->

	<!-- advertisement -->
	<div class="row">
		<div class="container">
		<div class="col-md-12">
			<div class="advertisement">
				<div class="center-align">
				<h2>Advertisement</h2>
			</div>
			</div>
		</div>
		</div>
	</div>

<!-- advertisement row ends -->

<!--Sorting Starts-->
<div id="row">
	<div class="container">
	<div class="col-md-8 sorting-home">
		<span class="lead">Featured</span>&nbsp&nbsp
		<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" > MATERIALS
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" autocomplete="off" checked> SERVICES
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> RAW MATERIAL
  </label>
</div>
	</div> 
</div>
</div>

<!-- sorting ends -->

<!-- featured l>isting starts -->
<div class="row">
	<div class="container">
	<div class="col-md-3 featured-listing">
	</div>
	<div class="col-md-3 featured-listing">
	</div>
	<div class="col-md-3 featured-listing">
	</div>
	<div class="col-md-3 featured-listing">
	</div>
	<div class="col-md-3 featured-listing">
	</div>
	<div class="col-md-3 featured-listing">
	</div>
	</div>
</div>

<!-- featured listing ends -->

<!--Top deals Starts-->
<div id="row">
	<div class="container">
	<div class="col-md-8 sorting-home">
		<span class="lead">Top Deals/Discounts</span>&nbsp&nbsp
	</div> 
</div>
</div>

<!-- top deals ends -->

<!-- top deals listing starts -->
<div class="row">
	<div class="container">
	<div class="col-md-3 top-listing">
	</div>
	<div class="col-md-3 top-listing">
	</div>
	<div class="col-md-3 top-listing">
	</div>
	<div class="col-md-3 top-listing">
	</div>
	</div>
</div>

<!--  listing ends -->

<!--Blog Starts-->
<div id="row">
	<div class="container">
	<div class="col-md-8 sorting-home">
		<span class="lead">Blog Posts</span>&nbsp&nbsp
	</div> 
</div>
</div>

<!-- Blog ends -->

<!-- Blog listing starts -->
<div class="row">
	<div class="container">
	<div class="col-md-3 blog-listing">
	</div>
	<div class="col-md-3 blog-listing">
	</div>
	<div class="col-md-3 blog-listing">
	</div>
	</div>
</div>

<!-- blog listing ends -->